h1{
    font-size: 50px;
}
body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
.link-text{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
}
section{
    display: flex;
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
    border-bottom: 100px solid white;
    margin-left: 0;

}
.half-width{
    width: 50%;
    border-left: 5px solid white;
    padding-left: 80px;
}
.image{
    width: 75%;
}
