h1{
    font-size: 50px;
}
body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
.link-text{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
}
.bg-image{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
    

}
.half-width{
    width: 50%;
    border-left: 5px solid white;
    padding-left: 80px;
}
.image{
    width: 75%;
}
.display{
    display: flex;
    border-bottom: 150px solid white;
}
.div-border{
    
    margin-left: 80px;
    box-shadow: -1px -1px 40px gray;
    margin-right: 40px;
    padding-right: 50px;
    width: 50%;
    border-left: 5px solid white;
    padding-left: 50px;
    padding-bottom: 20px;
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    
}
#bdr-div1{
    border-left: 5px solid;
    border-image: linear-gradient(pink, rgb(240, 105, 105) );
    border-image-slice: 1;
}
#bdr-div2{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan );
    border-image-slice: 1;
}

#footer-text{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}